fastapi
uvicorn[standard]

pydantic>=2.12.0
pydantic-settings
email-validator

numpy>=2.3.4
scikit-learn>=1.8.0

python-multipart
python-dotenv

sqlalchemy
pymysql

python-jose[cryptography]
passlib[bcrypt]
bcrypt

httpx
requests